{% macro product_card(product) %}
<div class="card shadow h-100 custom-card-hover" style="width: 17.3rem; height: 12rem;  border-radius: 15px;">
  <img class="card-img-top" src="{{ url_for('static', path=product.image_path) }}" alt="{{ product.image_details.item_title }}" loading="lazy">
  <div class="card-body">
    <h5 class="card-title">{{ product.image_details.item_title }}</h5>
    <p class="card-text">{{ product.image_details.item_description }}</p>
    <button class="btn btn-primary" aria-label="View {{ product.image_details.item_title }}"><i class="fas fa-eye"></i> View</button>
    <button class="btn btn-success" aria-label="Add {{ product.image_details.item_title }} to Cart"><i class="fas fa-cart-plus"></i> Add to Cart</button>
  </div>
</div>
{% endmacro %}
