<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>
   
</head>
<body>
    
    <main role="main" class="container">
        <section class="hero-section">
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="{{ url_for('static', path='videos/hero/black-friday-is-on.mp4') }}" type="video/mp4">
            </video>
            <div class="overlay"></div>
        </section>
    </main>

</body>
</html>
