{% extends "base.html" %}
{% from "macros/product_card.html" import product_card with context %}

{% set items_per_page = 12 %}
{% set total_pages = (products|length / items_per_page) | round(method='ceil') | int%}
{% if items_per_page < total_pages %}
    {% set paginations = items_per_page+1 %}
{% else %}
    {% set paginations = total_pages+1 %}
{% endif %}

{% block body %}
<!-- Hero Section -->
{% include 'macros/hero.html' %}
<main role="main" class="container">
    <!-- Products Grid -->
    <section class="py-5">
        <div class="container">
            <!-- Generate page_num and chunk products within the items_per_page range -->
            {% for product_page_num in range(1, items_per_page)%}
            <div id="page-{{product_page_num}}" class="product_page row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-5  {% if product_page_num > 1 %}d-none{% endif %}">
                <!-- Only create page with number of items = items_per_page -->
                {% for product in products[items_per_page * (product_page_num-1): items_per_page*product_page_num] %}
                <div class="col mb-4">
                    {{ product_card(product) }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <!-- Pagination -->
            <div class="d-flex justify-content-center">
                <div id="current_page" class="d-none">1</div>
                <ul class="pagination ">
                    <li class="page-item first">
                        <a href="javascript:void(0)" class="page-link" onclick="diplayPage(1)">First</a>
                    </li>
                    <li class="page-item last">
                        <a href="javascript:void(0)" class="page-link" onclick="diplayPagePrev()">Prev</a>
                    </li>                      
                    {% for product_page_num in range(1, paginations)%}
                    <li class="page-item page-item-{{product_page_num}}">
                        <a href="javascript:void(0)" class="page-link" onclick="diplayPage({{product_page_num}})">{{product_page_num}}</a>
                    </li> 
                    {% endfor %}
                    <li class="page-item last">
                        <a href="javascript:void(0)" class="page-link" onclick="diplayPageNext({{total_pages}})">Next</a>
                    </li>                     
                    <li class="page-item last">
                        <a href="javascript:void(0)" class="page-link" onclick="diplayPage({{total_pages}})">Last</a>
                    </li>                    
                </ul>
            </div>
        </div>
    </section>
</main>
<script>
    function diplayPage(product_page_num){
        console.log(product_page_num);
        const pages = document.querySelectorAll('.product_page');
        pages.forEach(page => page.classList.add('d-none'));
        document.getElementById(`page-${product_page_num}`).classList.remove('d-none');
        document.getElementById('current_page').textContent = product_page_num.toString();
    }
    function diplayPagePrev(){
        const current_page = parseInt(document.getElementById('current_page').textContent);
        current_page == 1 ? displayPage(current_page) : diplayPage(current_page - 1);
    }

    function diplayPageNext(total_pages){
        const current_page = parseInt(document.getElementById('current_page').textContent);
        current_page == total_pages ? displayPage(current_page) : diplayPage(current_page + 1);
    }
</script>
{% endblock %}